# Environnement virtuel
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/

# Secrets
.env
.env.local

# IDE
.vscode/
.idea/

# Logs
*.log

# Mac / Windows
.DS_Store
Thumbs.db